.carousel-item{
    height: 600px;
}

.carousel-image-1{
    background: url(../image/aaa.jpeg);
    background-size: cover;
}

.carousel-image-2{
    background: url(../image/bbb.jpeg);
    background-size: cover;
}

.carousel-image-3{
    background: url(../image/xxx.jpeg);
    background-size: cover;
}